body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}

header {
  background-color: #333;
  color: white;
  padding: 10px 20px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  max-width: 100px;
}

.navbar ul {
  list-style: none;
  display: flex;
}

.navbar li {
  margin-right: 20px;
}

.category {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px;
}

.category-item {
  text-align: center;
  margin-bottom: 20px;
}

.category-item img {
  max-width: 100%;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 20px;
}

.social-media-links img {
  max-width: 30px;
  margin: 0 10px;
}

